<div class="hero" style="background-image: url('/images/pasopati.jpg'); background-position: center center;">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <!-- <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}> -->
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="lead">
            Hi! My name is Arif Widi Nugroho. <br>
            I do consulting for general software development (desktop and server app), web development, and mobile app development. I'm based in Bandung (Indonesia) and also available remotely. <br>
            Ping me at <a href="mailto:arif@sainsmograf.com">arif@sainsmograf.com</a>, I'd love to chat sometimes :).
        </p>
      </div>
    </div>
  </div>

  <div class="credit" style="opacity: 0.33;">
    <p>
      Pasupati Bridge, by <a href="https://secure.flickr.com/photos/anez_study/" target="_blank">fushioner</a></a>
    </p>
  </div>
</div>
